


.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: extrabold;
  font-style: normal;
}

.header-title{
    font-size: 28px;
}
ul{
    text-decoration: none;
}
li{
    list-style-type:none;
   
    
}
.abbaoffooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}s
.resume-color{
    color: yellow;
}
a{
    text-decoration: none;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    margin-right: 150px;
    margin-top: 38px;
    border: 1px solid #0D1321;
    border-radius: 6px;
    padding: 17px 24px;
}
.banner-profile{
    width: 240.28px;
    height:240px;
    margin-top: 26px;
    margin-bottom: 32px;
    margin-left: 378.86px;
    margin-right: 378.86px;
    
    
    
}
.banner-header{
    font-size: 48px;
    color: #0D1321;
}
.banner-description {
    font-size: 16px;
     color: #0D1321;
     opacity: 70%;
}
.btn-number-one{
    font-size: 20px;
    font-weight: semibold;
    color: #FFFFFF;
    background-color: #0D1321;
    padding:21px 24px ;
align-items: center;

;
}
.abba-of-banner{
    text-align: center;
    
    margin-top: 26px;
    margin-bottom: 45px;
    background-image: url(../B10A1-Challenge-Begins-main/assets/Hero-bg.png);
    width: 1440px;
    height: 652px;
    /* why web development section */
    
}
.title1{
    text-align: center;
    font-size: 32px;
}
.description1{
    text-align: center;
    opacity: 70%;
}
.abba-of-1st-phase{
    gap: 344px;
}
.description2{
    opacity: 70%;

}
.description3{
    opacity: 70%;

}
.description4{
    opacity: 70%;
}
.abba-of-1st-phase{
    display: flex;
    gap: 98.83px;
}
.title2{
    font-size: 24px;
    color: #0D1321;
    opacity: 70%;
}
.title3{
    font-size: 24px;
    opacity: 70%;
}
.title4{
    font-size: 24px;
    opacity: 70%;
}
.btn-number-three{
    font-size: 20px;
    opacity: 70%;
}
.abba-of-2nd-phase{
    display: flex;
    gap: 32px;
    
}
.abba-of-3rd-phase{
    display: flex;
    gap: 133px;
}
.margin-main{
    margin-left: 245px;
    margin-right: 249px;
}
.margin2{
    gap: 32px;
}
.margin3{
    margin-top: 154px;
}
.boroabba-of-main{
   
}
.btn-number-four{
  font-size: 20px;
  opacity: 70%;
}
.btn-number-five{
    font-size: 20px;
    opacity: 70%;
}


